/* app/Scrollable.css */

.scrollable-container {
  margin-left: 150px;
  margin-top: 20px;
  width: 600px;
  height: 80vh;
  overflow-y: hidden; /* Hide overflow to keep the effect clean */
  position: relative;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2); /* Slightly transparent background */
}

.scrollable-content {
  position: relative; /* Allow sections to stack */
  width: 100%;
  transition: transform 0.5s ease; /* Smooth transition for scrolling */
}

.section {
  height: 80vh; /* Each section takes the full height of the container */
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0; /* Start invisible */
  transition: opacity 0.5s ease-in-out; /* Smooth opacity change */
}

.section.active {
  opacity: 1; /* Fade in active section */
}

h2 {
  font-size: 24px;
  text-align: center;
  color: white; /* Set the text color to white */
  font-family: 'monospace'; /* Use monospace font */
  font-weight: 100;
  letter-spacing: 0.3rem;
  text-decoration: none;
}
